BODY, HTML {
    color: #171717;
    font-family: Helvetica;
    padding: 0;
    margin: 0;
}

H1 {
    font-size: 21px;
    font-weight: normal;
    margin: 0 0 20px 0;
}

HR {
    border: none;
    clear: both;
    color: #FFF;
    background-color: #FFF;
    height: 1px;
    margin: 30px auto;
    width: 50%;
}

IMG {
    cursor: pointer;
}

.selected {
    font-weight: bold;
}

#catList {
    float: left;
    height: 100%;
    margin: 20px 0 0 0;
    padding-left: 10px;
    position: fixed;
    width: 180px;
}

#catList LI {
    font-size: 12px;
    list-style: none;
    margin-bottom: 5px;
}

#container {
    moz-box-sizing: border-box;
    ms-box-sizing: border-box;
    webkit-box-sizing: border-box;
    box-sizing: border-box;

    padding: 20px 0 0 200px;
    width: 100%;
}

#container DIV {
    float: left;
    width: 100%;
}

#content IMG {
    moz-box-shadow: 0px 1px 2px #DDD;
    webkit-box-shadow: 0px 1px 2px #DDD;
    box-shadow: 0px 1px 2px #DDD;

    float: left;
    margin: 0 1% 15px 0;
    width: 48%;
}